body {
  width: 100%;
  /* max-width: 375px; */
  margin: 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* align-content: center; */
  /* justify-content: center; */
}
.home__mobile-info {
  display: flex;
  margin: 5%;
  justify-content: space-between;
}
.home__mobile-time {
  padding-left: 10px;
  margin: 0;
  font-family: "Poppins";
}
.home__mobile-icons-wrp {
  display: flex;
  justify-content: flex-end;
}
.home__mobile-icons {
  margin-left: 7px;
}
nav {
  width: 100%;
  position: relative;
}
.home__nav-hamburger {
  padding-left: 5%;
  font-size: 1.7rem;
  position: absolute;
  top: 12px;
}
.home__nav-title {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  /* font-family: "Poppins"; */
  /* font-family: "Roboto"; */
  font-family: "Noto Sans JP";
  font-weight: 900;
  letter-spacing: 1.5px;
}
.home__hero {
  width: 100%;
}
.home__hero-divider {
  border-bottom: 1px solid #ced2db;
  width: 100%;
  margin-top: 15px;
}
.home__hero-tracking-info {
  margin: 5% 5%;
  /* width: 100%; */
  /* text-align: center; */
  /* max-width: 375px; */
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 100;
  color: #dfe0e5;
}
.home__hero-tracking-info--bold {
  font-weight: 900;
  font-family: "Roboto";
  color: #ced2db;
}
.home__tracking-wrp {
  border-top: 1px solid #dfe0e5;
  padding: 25px 0;
}
.home__tracking-card {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
}
.home__tracking-date {
  margin: 0;
  font-size: 1.2em;
  font-family: "Poppins";
  font-weight: 800;
}
.home__tracking-time-select {
  display: flex;
}
.home__tracking-time-start {
  border: 1px solid #dfe0e5;
  border-radius: 10px 0 0 10px;
  font-family: "Poppins";
  font-size: 0.8rem;
  margin-left: 5%;
  padding: 0 5px;
  width: 85px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__tracking-time-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 18px;
  margin: 0;
  font-family: "Poppins";
  font-size: 0.75rem;
  border-top: 1px solid #dfe0e5;
  border-bottom: 1px solid #dfe0e5;
}
.home__tracking-time-end {
  border: 1px solid #dfe0e5;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-size: 0.8rem;
  padding: 0 5px;
  width: 85px;
  height: 20px;
}

/* The switch - the box around the slider */
.home__tracking-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-bottom: 15px;
}

/* Hide default HTML checkbox */
.home__tracking-input {
  display: none;
}

/* The slider */
.home__tracking-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.home__tracking-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 1.75px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .home__tracking-slider {
  background-color: #981eda;
}

input:checked + .home__tracking-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.home__button-wrp {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.home__button-undo {
  /* width: 35%; */
  width: 135px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: "Noto Sans JP";
  color: #981eda;
  font-size: 0.9rem;
  border: 1px solid #981eda;
  background-color: white;
  margin-right: 7.5px;
  /* margin-right: 2.5%; */
}
.home__button-save {
  /* width: 35%; */
  width: 135px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: "Noto Sans JP";
  color: white;
  font-size: 0.9rem;
  border: none;
  background-color: #981eda;
  margin-left: 7.5px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home__hero-tracking-info {
    text-align: center;
  }
}
